@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&display=swap");

#content {
  max-width: 1600px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-around;
}

.logo,
.icon {
  width: 80px;
}
.icon {
  padding-top: 10px;
}
#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}
main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

main section img {
  box-sizing: border-box;
}

.rivers-card,
.camping-card,
.rapids-card {
  margin: 200px 0;
}
.rivers-card {
  grid-column: 2/4;
  grid-row: 2/3;
}
.camping-card {
  grid-column: 5/7;
  grid-row: 2/3;
}
.rapids-card {
  grid-column: 8/10;
  grid-row: 2/3;
}
.card-img,
.mountains {
  width: 100%;
}
.mountains {
  grid-column: 2/7;
  grid-row: 5/8;
  box-shadow: 5px 5px 10px #6f7364;
}
.card-img {
  border: 10px solid #140b5c;
  transition: transform 0.5s;
  box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px;
}
#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}

#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
}
nav a,
#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
  text-align: center;
}
#hero-msg h4 {
  color: white;
}
#hero-img {
  width: 100%;
}
#background {
  height: 725px;
  background-color: #fbf4f4;
  grid-column: 1/11;
  grid-row: 4/9;
}

body {
  background-color: #d1c1bb;
  font-family: Barlow, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #140b5c;
  display: grid;
  grid-template-columns: 150px auto;
}

nav a,
footer a {
  color: #d1c1bb;
  text-decoration: none;
  text-align: center;
  /*padding: 35px;*/
}
nav a {
  padding: 35px;
}

.button-box {
  text-align: center;
}
main section {
  text-align: center;
}
nav a:hover {
  background-color: #d1c1bb;
  color: #d36836;
}

.join,
.book {
  background-color: #140b5c;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
h4 {
  color: black;
}
.book:hover,
.join:hover {
  background-color: #d1c1bb;
  color: #fbf4f4;
}
.msg {
  background-color: #fbf4f4;
  color: #140b5c;
  padding: 35px;
  grid-column: 6/10;
  grid-row: 6/7;
  box-shadow: 5px 5px 10px #6f7364;
}
.msg h2 {
  color: #140b5c;
  font-family: "Patua One", Helvetica, sans-serif;
}
h2 {
  margin: 0;
}
.msg p {
  color: black;
  font-size: 0.8em;
  padding-bottom: 15px;
}
footer {
  background-color: #140b5c;
  padding: 25px 50px;
  margin-top: 200px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .social img {
  padding-top: 15px;
}
footer a:hover {
  color: #d36836;
}
footer p {
  color: #d1c1bb;
  font-size: 1.2em;
}

footer p a:hover {
  text-decoration: underline;
}
.home-title {
  color: white;
  font-family: "Patua One", Helvetica, sans-serif;
  font-size: 2em;
  margin-top: 10px;
}

@media screen and (max-width: 900px) {
  #hero,
  .home-grid {
    display: block;
    height: auto;
  }
  nav,
  footer {
    flex-direction: column;
  }
  nav a {
    display: block;
    padding: 15px;
  }
  #hero {
    margin-top: 0;
  }
  #hero-msg {
    margin-top: 0;
  }
  #hero-msg h4 {
    display: none;
  }
  .home-title {
    font-size: 25px;
    color: #6f7364;
  }
  .rivers-card,
  .camping-card,
  .rapids-card {
    margin: 50px auto;
    width: 60%;
  }
  #background {
    display: none;
  }
  .mountains,
  .msg {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  footer {
    margin-top: 25px;
  }
}
/* FAQ Page */

/* Subheader Section */

#subheader-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#subheader-div span {
  position: absolute;
  bottom: 50px;
}
.input-search-container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.search-input {
  background-color: rgb(20, 11, 92);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 10px;
  width: 150px;
  padding: 8px 12px;
  border: 1px solid rgb(20, 11, 92);
  border-radius: 5px;
  font-size: 1em;
  outline: none;
  padding-left: 40px;
}
.search-input::placeholder {
  color: white;
}
.search-input:hover {
  background-color: #d1c1bb;
  color: #140b5c;
}
.search-input:hover::placeholder {
  color: #140b5c;
}
.search-icon {
  position: absolute;
  left: 25px;
  top: 31px;
  width: 16px; /* Adjust the width of the icon */
  height: 16px; /* Adjust the height of the icon */
  background-image: url("../images/icons8-search-32.png"); /* Replace with the path to your custom icon */
  background-size: cover;
}

#subheader-div h2 {
  color: #140b5c;
  font-family: "Patua One", Helvetica, sans-serif;
  font-size: 2em;
  margin-top: 20px;
}
#subheader-div h3 {
  color: #d36836;
  font-family: "Patua One", Helvetica, sans-serif;
  font-size: 1.5em;
  margin-top: 5px;
}

/* Main cards section */
.faq-grid {
  font-family: Barlow, "Patua One", Helvetica, sans-serif;
}
.faq-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 55px;
  grid-row-gap: 25px;
  padding: 10px 45px;
  margin-top: 30px;
}
.faq-card {
  border: 2px solid #d1c1bb;
  transition: transform 0.5s;
  box-shadow: 5px 5px 10px #6f7364, -2px -2px 10px #6f7364;
  padding: 2px 1.5em 2px 1.5em;
}
.img-container {
  overflow: hidden;
  margin-top: 10px;
}
.fac-card-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#rafting_activities_img {
  width: 120px;
}
.faq-card:hover {
  opacity: 0.8;
  transform: scale(1.04);
}

#faq-card-1 {
  grid-area: 1 / 1 / 2 / 2;
  text-align: justify;
}
#faq-card-2 {
  grid-area: 1 / 2 / 2 / 3;
  text-align: justify;
}
#faq-card-3 {
  grid-area: 1 / 3 / 2 / 4;
  text-align: justify;
}
#faq-card-4 {
  grid-area: 2 / 1 / 3 / 2;
  text-align: justify;
}
#faq-card-5 {
  grid-area: 2 / 2 / 3 / 3;
  text-align: justify;
}
#faq-card-6 {
  grid-area: 2 / 3 / 3 / 4;
  text-align: justify;
}

/* Another Questions section */
.another-questions-section {
  position: absolute;
  left: 45px;
  right: 45px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 10px;

  border: 5px solid #d1c1bb;
  transition: transform 0.5s;
  box-shadow: 2px 2px 10px #6f7364, -2px -2px 10px #6f7364;
}
.left-bloc {
  display: flex;
  flex-direction: column;
}
.left-bloc .other-question-title {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 5px;
  color: black;
}

.get-in-touch-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  background-color: #140b5c;

  color: #fff;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
.get-in-touch-button:hover {
  background-color: #d36836;
}
/* Contact page */
form {
  /* Center the form on the page */
  margin: 0 auto;
  margin-top: 35px;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 0.5em;
}

#feedback {
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  /* make this element invisible until we are ready for it */
  display: none;
}
.moveDown {
  margin-top: 3em;
}
/* Media queries */
@media (max-width: 768px) {
  /* Main cards section */
  .faq-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  #faq-card-1 {
    grid-area: auto;
  }
  #faq-card-2 {
    grid-area: auto;
  }
  #faq-card-3 {
    grid-area: auto;
  }
  #faq-card-4 {
    grid-area: auto;
  }
  #faq-card-5 {
    grid-area: auto;
  }
  #faq-card-6 {
    grid-area: auto;
  }

  /* Another questions section */
  .another-questions-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: static;
    margin: 20px 45px 0 45px;
  }
  .left-bloc {
    margin-bottom: 15px;
  }
}
@media (min-width: 769px) and (max-width: 900px) {
  .another-questions-section {
    position: static;
    margin: 0 45px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;

    border: 5px solid #d1c1bb;
    transition: transform 0.5s;
    box-shadow: 2px 2px 10px #6f7364, -2px -2px 10px #6f7364;
  }
  .left-bloc {
    margin-bottom: 15px;
  }
  .get-in-touch-button {
    margin-top: 7px;
  }
}
/* FAQ Page */
